.topBar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;
  background: var(--accent-3);
}

.logoLink {
  display: inline-flex;
  align-items: center;
}

.logoImage {
  display: block;
}