.glowItem {
  --glow-colors-1: #52014d;
  --glow-colors-2: #d26fee;
  --glow-colors-3: #ff5492;
  --glow-colors-4: #812dff;
  --glow-colors-5: #f67a28;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #222;
}

.logoLink {
  display: inline-flex;
  align-items: center;
  z-index: 110;
}

.logoImage {
  display: block;
  height: 40px;
  width: auto;
}

.NavigationMenuRoot {
  position: relative;
  display: flex;
  justify-content: end;
  width: 100vw;
  z-index: 1;
  color: white;
}

.desktopNavLink {
  min-width: 5rem;
  color: white;
}

.NavigationMenuList {
  display: flex;
  flex-basis: 2fr;
  flex-direction: row;
  list-style: none;
}

.NavigationMenuList > a {
  min-height: 2.5rem;
  align-content: center;
}

.mobileNavTriggerContainer {
  display: none;
}

.dialogOverlay {
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  position: fixed;
  inset: 0;
  z-index: 101;
  animation: fadeIn 0.2s ease-out;
}

.dialogContent {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  animation: fadeIn 0.3s ease-out;
}

.dialogCloseButton {
  position: absolute !important;
  top: 1rem;
  right: 1rem;
  color: white !important;
}

@media (max-width: 830px) {
  .NavigationMenuList {
    display: none;
  }

  .mobileNavTriggerContainer {
    display: block;
  }

  .burgerButton {
    color: white !important; /* Ensure icon is visible */
    background-color: transparent !important;
  }

  .mobileNavLink {
    position: relative;
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.glowItem {
  position: relative;
  background-color: var(--glow-colors-1);
  margin: 0.5rem;
  padding: 0 auto;
  justify-content: center;
  border-radius: 0.5rem;
}

.glowItem.active::before,
.glowItem.active::after {
  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--glow-colors-1),
    var(--glow-colors-3),
    var(--glow-colors-4),
    var(--glow-colors-3),
    var(--glow-colors-1)
  );
  border-radius: inherit;
  animation: rotation 8s linear infinite;
  filter: blur(0.35rem) brightness(1.3);
}

.glowItem.active {
  background-color: rgba(82, 1, 77, 0.3);
  font-weight: bold;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
