@import "@radix-ui/themes/styles.css";
@import "@radix-ui/colors/crimson.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.glowItem {
  --glow-colors-1: #52014d;
  --glow-colors-2: #d26fee;
  --glow-colors-3: #ff5492;
  --glow-colors-4: #812dff;
  --glow-colors-5: #f67a28;
  position: relative;
  background-color: transparent;
  margin: inherit;
  padding: inherit;
  justify-content: center;
  border-radius: 0.25rem;
}

.glowItem.active::before,
.glowItem.active::after {
  content: "";
  position: absolute;
  inset: 0.20rem;
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle),
      var(--glow-colors-1),
      var(--glow-colors-3),
      var(--glow-colors-4),
      var(--glow-colors-3),
      var(--glow-colors-1));
  border-radius: inherit;
  animation: rotation 8s linear infinite;
  filter: blur(0.35rem) brightness(1.3);
}

.glowItem.active {
  background: var(--accent-a1);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

@media (prefers-reduced-motion: reduce) {

  .glowItem.active::before,
  .glowItem.active::after {
    animation: none;
  }
}