@import "@radix-ui/themes/styles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.glowItem {
  position: relative;
  background-color: transparent;
  margin: inherit;
  padding: inherit;
  justify-content: center;
  border-radius: 0.25rem;
}

.glowItem.active::before,
.glowItem.active::after {
  content: "";
  position: absolute;
  inset: 0.1rem;
  z-index: -1;
  background-image: conic-gradient(from var(--gradient-angle),
      var(--purple-10),
      var(--crimson-10),
      var(--blue-11),
      var(--crimson-9),
      var(--orange-10),
      var(--blue-11),
      var(--crimson-10),
      var(--purple-10));
  border-radius: inherit;
  animation: rotation 8s linear infinite;
  filter: brightness(1.35);
}

.glowItem.active {
  background: var(--accent-a1);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

@media (prefers-reduced-motion: reduce) {

  .glowItem.active::before,
  .glowItem.active::after {
    animation: none;
  }
}