.dialogOverlay {
  background-color: var(--gray-7);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}


.dialogContent {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  padding: 25px;
}

.dialogContentWrapper {
  background-image: linear-gradient(to top,
      var(--accent-11),
      var(--accent-12));
}

.dialogTitle {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.dialogCloseButton {
  position: absolute !important;
  top: 1rem;
  right: 1rem;
  color: var(--accent-1);
  background-color: transparent !important;
}

.mobileNavLink {
  color: var(--accent-1);
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-image: linear-gradient(to right, var(--accent-11), var(--accent-12));
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

@media (min-width: 779px) {
  .navigationModalRoot {
    display: none !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}