.dialogOverlay {
  background-color: var(--gray-7);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}


.dialogContent {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  padding: 25px;
}

.dialogContentWrapper {
  background-image: linear-gradient(to top,
      var(--accent-11),
      var(--accent-12));
}

.vissiblyHiddenForScreenReaders {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.dialogCloseButton {
  position: absolute !important;
  top: 1rem;
  right: 1rem;
  color: var(--accent-1);
  background-color: transparent !important;
}

.accordionRoot {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  place-content: center;
  justify-content: center;
  gap: 1rem;
}

.mobileNavLink,
.accordionTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--acent-11);
  color: var(--acent-1);
  width: 100%;
  max-width: 600px;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.accordionTrigger {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  animation: accordionTriggerExpanded 150ms cubic-bezier(0.16, 1, 0.3, 1);
}


@media (min-width: 870px) {
  .navigationModalRoot {
    display: none !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.accordionCircle {
  color: transparent;
  background: var(--gray-7);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}

.accordionChevron {
  color: var(--accent-10);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordionTrigger[data-state="open"]>.accordionChevron {
  transform: rotate(180deg);
}

.accordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: 1;
  }
}

@keyframes slideUp {
  from {
    height: 1;
  }

  to {
    height: 0;
  }
}