.navigationMenuBarRoot {
    display: none;
}

.navigationMenuList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    overflow-y: auto;
}

.navigationMenuLink {
    position: relative;
    color: white;
    min-width: 8rem;
    text-align: center;
    background: #52014d;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

@media (min-width: 780px) {
    .navigationMenuBarRoot {
        display: flex;
        justify-content: center;
        padding: 0.25rem 0;
        background-color: #333;
    }
}