.photographyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.photoItem {
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.photoItem:hover {
  transform: scale(1.05);
}

.photoImage {
  width: 100%;
  height: auto;
}

.photoDescription {
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  color: #333;
}
